/* rem and em do NOT depend on html font-size in media queries!
Instead, 1=rem = 1em = 16px */

/****************/
/* BELOW 1216px*/
/***************/
@media (max-width: 76em) {
  .header{
    margin-top: 0;
  }

  .hero{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    margin-top: 4rem;
    row-gap: 4rem;
  }

 .hero-img{
    width: 100%;
  }

  .hero-img-box{
    width: 70%;
  }

  .section-content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .section-hero,
  .section-harmonic-fnc,
  .section-random-notes,
  .section-chords-sequence {
    grid-template-rows: auto auto;
  }

  .random-notes-box {
    grid-row: 2 / 3;
  }
}

/****************/
/* BELOW 1056px*/
/***************/
@media (max-width: 66em) {
  .heading-primary{
    text-align: center;
  }

  .nav {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: auto;
    background-color: #aebefd;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.205);
    position: relative;
    z-index: 2;
    border-radius: 0 0 1rem 1rem;
  }

}

/****************/
/* BELOW 832px*/
/***************/

@media (max-width: 52em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: none;
    margin: 0;
  }

  .hero {
    max-width: 85vw;
    row-gap: 0;
    column-gap: 0;
    margin-top: 5rem;
  }

  .hero-buttons{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2.5rem;
  }

  .btn--full {
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .hero-img-box {
    margin: 10rem 0;
  }

  .hero-img-box {
    width: 80%;
    margin: 5rem 0 0 0;
  }
}

/****************/
/* BELOW 448px*/
/***************/

@media (max-width: 28em) {
  .heading-primary{
    font-size: 4.4rem;
  }

  .hero-img-box {
    width: 100%;
  }

  .hero-buttons{
    gap: 1.5rem;
  }
}